@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #2563eb;
  --color-secondary: #fbbf24
}

* {
  font-family: outfit;
}

.font-playfair {
  font-family: playfair !important;
}

.font-bonheur {
  font-family: "Bonheur Royale", cursive;
}


.font-inter {
  font-family: "Inter", sans-serif;
}